.blog-structure{
top: 0px;
left: 0px;
width: 1920px;
height: 4773px;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
}


.head1{
top: 58px;
left: 794px;
width: 100px;
height: 80px;
transform: matrix(0, -1, 1, 0, 0, 0);
text-align: center;
font: normal normal medium 72px/79px 'Montserrat';
letter-spacing: 0px;
color: #000000;
opacity: 1;
position: absolute;
}

.head2{
top: 71px;
left: 873px;
width: 190px;
height: 87px;
text-align: left;
font: normal normal bold 71px/87px 'Montserrat';
letter-spacing: 0px;
color: #000000;
opacity: 1;
position: absolute;
}

.hr-line{
    top: 235px;
    left: 240px;
    width: 1440px;
    height: 3px;
    background: #F0F0F0 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}

.Img1{
    top: 300px;
    left: 242px;
    width: 958px;
    height: 606px;
    background: transparent url('../pictures/HillView.jpg') 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 10px #0000001A;
    border-radius: 7px;
    opacity: 1;
    position: absolute;
}

#TitleFont{
top: 439px;
left: 105px;
width: 500px;
height: 200px;
font-size: 50px;
font-family: 'Montserrat';
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
position: relative;
}

#SubTitleFont{
    top: 499px;
    right: 21vw;
    width: 200px;
    height: 150px;
    font-size: 30px;
    font-family: 'Montserrat';
    letter-spacing: 0px;
    color: #FCFCFC;
    opacity: 0.57;
    position: relative;
}

.Img2{
top: 300px;
left: 1213px;
width: 465px;
height: 295px;
background: transparent url('../pictures/BWHill.jpg') 0% 0% no-repeat padding-box;
box-shadow: 0px 5px 10px #0000000D;
border-radius: 7px;
opacity: 1;
position: absolute;
}

#Img2Font{
top: 120px;
left: 15px;
width: 291px;
height: 39px;
text-align: left;
font-size: 25px;
font-family: 'Montserrat';
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
position: relative;
}

#Img2SubFont{
top: 200px;
right: 240px;
width: 50px;
height: 20px;
font-size: 15px;
font-family: 'Montserrat';
letter-spacing: 0px;
color: #FCFCFC;
opacity: 0.57;
position: relative;
}

.Img3{
top: 608px;
left: 1213px;
width: 465px;
height: 295px;
background: transparent url('../pictures/BWHill.jpg') 0% 0% no-repeat padding-box;
box-shadow: 0px 5px 10px #0000000D;
border-radius: 7px;
opacity: 1;
position: absolute;
}

#Img3Font{
top: 120px;
left: 15px;
width: 291px;
height: 39px;
text-align: left;
font-size: 25px;
font-family: 'Montserrat';
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
position: relative;
}

#Img3SubFont{
top: 200px;
right: 240px;
width: 50px;
height: 20px;
font-size: 15px;
font-family: 'Montserrat';
letter-spacing: 0px;
color: #FCFCFC;
opacity: 0.57;
position: relative;
}

.Latest{
top: 1000px;
left: 242px;
width: 211px;
height: 49px;
text-align: left;
font-size: 40px;
font-family: 'Montserrat';
letter-spacing: 0px;
color: #000000;
opacity: 1;
position: absolute;
}

.Latest-line{
top: 1060px;
left: 242px;
width: 90px;
height: 3px;
background: #F08080 0% 0% no-repeat padding-box;
opacity: 1;
position: absolute;
}

.Temple-1{
top: 1175px;
left: 242px;
width: 452px;
height: 229px;
background: transparent url('../pictures/TempleView.jpg') 0% 0% no-repeat padding-box;
box-shadow: 0px 5px 10px #0000000D;
border-radius: 7px 7px 0px 0px;
opacity: 1;
position: relative;
}

.Temple-1-Text{
top: 1231px;
left: 286px;
width: 363px;
height: 95px;
text-align: left;
font-size: 30px;
font-family: 'Montserrat';
letter-spacing: 0px;
color: #404040;
opacity: 1;
position: relative;
}

.Temple-2-Text{
top: 1237px;
left: 289px;
width: 358px;
height: 115px;
text-align: left;
font: normal normal normal 17px/23px 'Open Sans';
letter-spacing: 0px;
color: #908D8D;
opacity: 1;
position: relative;
}

.Temple-Footer{
top: 1257px;
left: 285px;
width: 51px;
height: 20px;
text-align: left;
font-size: 20px;
font-family:'Montserrat';
letter-spacing: 0px;
color: #404040;
opacity: 1;
position: relative;
}

.Temple-Footer-2{
top: 1242px;
left: 355px;
width: 158px;
height: 15px;
text-align: left;
font-size: 15px;
font-family: 'Montserrat';
letter-spacing: 0.85px;
color: #404040;
opacity: 0.48;
position: relative;
}

.Temple-2{
    top: 702px;
    left: 742px;
    width: 452px;
    height: 229px;
    background: transparent url('../pictures/TempleView.jpg') 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 10px #0000000D;
    border-radius: 7px 7px 0px 0px;
    opacity: 1;
    position: relative;
    }

.Temple2-2-Text{
        top: 758px;
        left: 786px;
        width: 363px;
        height: 95px;
        text-align: left;
        font-size: 30px;
        font-family: 'Montserrat';
        letter-spacing: 0px;
        color: #404040;
        opacity: 1;
        position: relative;
    }

.Temple-22-Text{
top: 763px;
left: 786px;
width: 358px;
height: 115px;
text-align: left;
font: normal normal normal 17px/23px 'Open Sans';
letter-spacing: 0px;
color: #908D8D;
opacity: 1;
position: relative;
}

.Temple2-Footer{
    top: 783px;
    left: 786px;
    width: 51px;
    height: 20px;
    text-align: left;
    font-size: 20px;
    font-family:'Montserrat';
    letter-spacing: 0px;
    color: #404040;
    opacity: 1;
    position: relative;
    }
    
    .Temple2-Footer-2{
    top: 768px;
    left: 856px;
    width: 158px;
    height: 15px;
    text-align: left;
    font-size: 15px;
    font-family: 'Montserrat';
    letter-spacing: 0.85px;
    color: #404040;
    opacity: 0.48;
    position: relative;
    }
    
    .LatestCard-3{
        top: 1174px;
        left: 1226px;
        width: 452px;
        height: 538px;
        background: #FCFCFC 0% 0% no-repeat padding-box;
        box-shadow: 0px 5px 35px #00000008;
        border-radius: 7px;
        opacity: 1; 
        position: absolute;
    }

    .Temple-3{
        top: 10px;
        left: 25px;
        width: 452px;
        height: 229px;
        background: transparent url('../pictures/TempleView.jpg') 0% 0% no-repeat padding-box;
        box-shadow: 0px 5px 10px #0000000D;
        border-radius: 7px 7px 0px 0px;
        opacity: 1;
        position: relative;
        }

        .Temple3-Text{
            top: 65px;
            left: 70px;
            width: 363px;
            height: 95px;
            text-align: left;
            font-size: 30px;
            font-family: 'Montserrat';
            letter-spacing: 0px;
            color: #404040;
            opacity: 1;
            position: relative;
        }
    
    .Temple-33-Text{
    top: 70px;
    left: 70px;
    width: 358px;
    height: 115px;
    text-align: left;
    font: normal normal normal 17px/23px 'Open Sans';
    letter-spacing: 0px;
    color: #908D8D;
    opacity: 1;
    position: relative;
    }

    .Temple3-Footer{
        top: 90px;
        left: 70px;
        width: 51px;
        height: 20px;
        text-align: left;
        font-size: 20px;
        font-family:'Montserrat';
        letter-spacing: 0px;
        color: #404040;
        opacity: 1;
        position: relative;
        }
        
        .Temple3-Footer-3{
        top: 72px;
        left: 140px;
        width: 158px;
        height: 15px;
        text-align: left;
        font-size: 15px;
        font-family: 'Montserrat';
        letter-spacing: 0.85px;
        color: #404040;
        opacity: 0.48;
        position: relative;
        }

    .Latest-Article{
            top: 2000px;
            left: 242px;
            width: 350px;
            height: 49px;
            text-align: left;
            font-size: 40px;
            font-family: 'Montserrat';
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;
            position: absolute;
            }
            
    .Latest-Article-Line{
            top: 2060px;
            left: 242px;
            width: 90px;
            height: 3px;
            background: #F08080 0% 0% no-repeat padding-box;
            opacity: 1;
            position: absolute;
            }

    .Latest-Article-HR-Line{
top: 2150px;
left: 242px;
width: 946px;
height: 3px;
background: #F0F0F0 0% 0% no-repeat padding-box;
opacity: 1;
position: absolute;
    }

    .LA-P1{
top: 2200px;
left: 270px;
width: 308px;
height: 206px;
background: transparent url('../pictures/Castle-Resize.jpg') 0% 0% no-repeat padding-box;
box-shadow: 0px 5px 10px #0000000D;
position: absolute;
    }

    .LA-P1-Head{
top: 2190px;
left: 612px;
width: 399px;
height: 94px;
text-align: left;
font-size: 40px;
font-family: 'Montserrat';
letter-spacing: 0px;
color: #000000;
opacity: 1;
position: absolute;
    }

    .LA-P1-Text{
top: 2300px;
left: 623px;
width: 358px;
height: 50px;
text-align: left;
font: normal normal normal 17px/23px 'Open Sans';
letter-spacing: 0px;
color: #908D8D;
opacity: 1;
position: absolute;
    }

    .LA-P1-Foot{
        top: 2390px;
        left: 623px;
        width: 51px;
        height: 20px;
        text-align: left;
        font-size: 15px;
        font-family:'Montserrat';
        letter-spacing: 0px;
        color: #404040;
        opacity: 1;
        position: absolute;
        }
        
        .LA-P1-Foot-2{
        top: 2390px;
        left: 680px;
        width: 158px;
        height: 20px;
        text-align: left;
        font-size: 15px;
        font-family: 'Montserrat';
        letter-spacing: 0.85px;
        color: #404040;
        opacity: 0.48;
        position: absolute;
        }

        .LA-P1-HR-Line{
top: 2450px;
left: 242px;
width: 946px;
height: 3px;
background: #F0F0F0 0% 0% no-repeat padding-box;
opacity: 1;
position: absolute;
        }


        .LA-P2{
            top: 2500px;
            left: 270px;
            width: 308px;
            height: 184px;
            background: transparent url('../pictures/Castle-Resize.jpg') 0% 0% no-repeat padding-box;
            box-shadow: 0px 5px 10px #0000000D;
            position: absolute;
                }
            
        .LA-P2-Head{
            top: 2495px;
            left: 612px;
            width: 399px;
            height: 94px;
            text-align: left;
            font-size: 30px;
            font-family: 'Montserrat';
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;
            position: absolute;
                }
            
                .LA-P2-Text{
            top: 2580px;
            left: 623px;
            width: 358px;
            height: 50px;
            text-align: left;
            font: normal normal normal 17px/23px 'Open Sans';
            letter-spacing: 0px;
            color: #908D8D;
            opacity: 1;
            position: absolute;
                }
            
                .LA-P2-Foot{
                    top: 2670px;
                    left: 623px;
                    width: 51px;
                    height: 20px;
                    text-align: left;
                    font-size: 15px;
                    font-family:'Montserrat';
                    letter-spacing: 0px;
                    color: #404040;
                    opacity: 1;
                    position: absolute;
                    }
                    
                .LA-P2-Foot-2{
                    top: 2670px;
                    left: 680px;
                    width: 158px;
                    height: 20px;
                    text-align: left;
                    font-size: 15px;
                    font-family: 'Montserrat';
                    letter-spacing: 0.85px;
                    color: #404040;
                    opacity: 0.48;
                    position: absolute;
                    }
            
                .LA-P2-HR-Line{
            top: 2730px;
            left: 242px;
            width: 946px;
            height: 3px;
            background: #F0F0F0 0% 0% no-repeat padding-box;
            opacity: 1;
            position: absolute;
                    }

                    .LA-P3{
                        top: 2780px;
                        left: 270px;
                        width: 308px;
                        height: 184px;
                        background: transparent url('../pictures/Castle-Resize.jpg') 0% 0% no-repeat padding-box;
                        box-shadow: 0px 5px 10px #0000000D;
                        position: absolute;
                            }
                        
                    .LA-P3-Head{
                        top: 2775px;
                        left: 612px;
                        width: 399px;
                        height: 94px;
                        text-align: left;
                        font-size: 30px;
                        font-family: 'Montserrat';
                        letter-spacing: 0px;
                        color: #000000;
                        opacity: 1;
                        position: absolute;
                            }
                        
                            .LA-P3-Text{
                        top: 2860px;
                        left: 623px;
                        width: 358px;
                        height: 50px;
                        text-align: left;
                        font: normal normal normal 17px/23px 'Open Sans';
                        letter-spacing: 0px;
                        color: #908D8D;
                        opacity: 1;
                        position: absolute;
                            }
                        
                            .LA-P3-Foot{
                                top: 2950px;
                                left: 623px;
                                width: 51px;
                                height: 20px;
                                text-align: left;
                                font-size: 15px;
                                font-family:'Montserrat';
                                letter-spacing: 0px;
                                color: #404040;
                                opacity: 1;
                                position: absolute;
                                }
                                
                            .LA-P3-Foot-2{
                                top: 2950px;
                                left: 680px;
                                width: 158px;
                                height: 20px;
                                text-align: left;
                                font-size: 15px;
                                font-family: 'Montserrat';
                                letter-spacing: 0.85px;
                                color: #404040;
                                opacity: 0.48;
                                position: absolute;
                                }
                        
                            .LA-P3-HR-Line{
                        top: 3010px;
                        left: 242px;
                        width: 946px;
                        height: 3px;
                        background: #F0F0F0 0% 0% no-repeat padding-box;
                        opacity: 1;
                        position: absolute;
                                }

                                .LA-P4{
                                    top: 3060px;
                                    left: 270px;
                                    width: 308px;
                                    height: 184px;
                                    background: transparent url('../pictures/Castle-Resize.jpg') 0% 0% no-repeat padding-box;
                                    box-shadow: 0px 5px 10px #0000000D;
                                    position: absolute;
                                        }
                                    
                                .LA-P4-Head{
                                    top: 3055px;
                                    left: 612px;
                                    width: 399px;
                                    height: 94px;
                                    text-align: left;
                                    font-size: 30px;
                                    font-family: 'Montserrat';
                                    letter-spacing: 0px;
                                    color: #000000;
                                    opacity: 1;
                                    position: absolute;
                                        }
                                    
                                        .LA-P4-Text{
                                    top: 3140px;
                                    left: 623px;
                                    width: 358px;
                                    height: 50px;
                                    text-align: left;
                                    font: normal normal normal 17px/23px 'Open Sans';
                                    letter-spacing: 0px;
                                    color: #908D8D;
                                    opacity: 1;
                                    position: absolute;
                                        }
                                    
                                        .LA-P4-Foot{
                                            top: 3230px;
                                            left: 623px;
                                            width: 51px;
                                            height: 20px;
                                            text-align: left;
                                            font-size: 15px;
                                            font-family:'Montserrat';
                                            letter-spacing: 0px;
                                            color: #404040;
                                            opacity: 1;
                                            position: absolute;
                                            }
                                            
                                        .LA-P4-Foot-2{
                                            top: 3230px;
                                            left: 680px;
                                            width: 158px;
                                            height: 20px;
                                            text-align: left;
                                            font-size: 15px;
                                            font-family: 'Montserrat';
                                            letter-spacing: 0.85px;
                                            color: #404040;
                                            opacity: 0.48;
                                            position: absolute;
                                            }
                                    
.LoadArrow{
top: 3330px;
left: 284px;
width: 11px;
height: 19px;
/* transform: matrix(0, -1, -1, 0, 0, 0); */
background: transparent url('../pictures/arrow.png') 0% 0% no-repeat padding-box;
opacity: 1;
position: absolute;
}

.LoadText{
    top: 3330px;
    left: 308px;
    width: 98px;
    height: 23px;
    text-align: left;
    font: normal normal normal 17px/23px 'Montserrat';
    letter-spacing: 0px;
    color: #A2A2A2;
    opacity: 1;  
    position: absolute;
}
                                            
                                